
.cartMainContainer{
    display: flex;
    margin-top: 1rem;
    margin-left: 1rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}


.cartInfo{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}


.productInfo {
    display : flex;
    flex-direction: column;
}


.productQuantity {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    gap: 0.5rem;
}


.cartImage{
    width: 150px;
    height: 200px;
    object-fit: cover;
}


.cartBookTitle{
    margin: 0;
}


.cartBookPrice{
    margin-top: 0.5rem;
}