


.orderSummaryMainDiv{
    margin-top: 1rem;
    position : fixed;
    background-color: rgba(245, 245, 245, 0.9);
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);

}


.orderSummaryTitle{
    margin: 0;
}