.loginFormContainer {

}


.inputFields {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0;
}



.inputFields {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 20px;
    width: 80%;
}


.formButtons {
    display: flex;
    flex-direction: column;
}