

.label {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 8px;
  margin-left: 20px;
  margin-top: 10px;
  font-weight: 700; 
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  color: black; 
  font-style: italic;

}

/* Fiction style */
.fiction {
}

/* Non-Fiction style */
.nonFiction {
}