
/* Parent container for book details page */
.bookDetailsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    background-color: white;
}


/* Section for book image */
.bookDetails_container_img {
    display: flex;
    width: 100%;
    justify-content: center;
    box-sizing: border-box;

}

/* book image styling */
.bookDetails_container_img img {
    object-fit: cover;
    width: 100%;
    max-width: 320px;
    height: 100%;
    border-radius: 8px;
    aspect-ratio: 2/3;
}


/* Section for book details */
.bookDetails_container_section {
    display: grid;
    grid-template-columns: auto, 1fr;
    grid-auto-rows: min-content;
    gap: 15px;
}

/* title */
.bookDetails_container_section_title {
    width: fit-content;
    font-size: 1.8rem;
    font-weight: 600;
}

/* author */
.bookDetails_container_section_author {
    font-size: 1rem;
    color: #555;
}

/* price */
.bookDetails_container_section_price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #b12704;
}

/* description */
.bookDetails_container_section_description {
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
}

/* Add to Cart button */
.primaryButton {

    justify-self: start;
    align-self: start;
    width: auto;
    padding: 8px 20px;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.2;

    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;


}


.primaryButton:hover {
    background-color: #0056b3;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}


.primaryButton:active {
    background-color: #004080;
    /*#004080*/
}


.backLink {
    margin-top: 15px;
    text-decoration: none;
    font-size: 1rem;
}