
.cartTitle{
    margin-left: 1rem;
    border-bottom: 2px solid #ccc;
}


.cartBooksAndSummary{
    display: flex;
    justify-content: center;
    gap: 4rem;

    width: 100%;
}


@media (max-width: 768px) {
  .cartBooksAndSummary {
    flex-direction: column;
    gap: 2rem;
  }
}