

.mainContainerLayout {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
}




.mainContainer {
    width: 50vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    border : 1px solid #ddd;
    border-radius: 10px;
}


.submitButton {
    display: block;
}


