
.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e6efff;

}


.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
